
    <section class='productFormSection'>
            <div id='productForm'>
                <h3>CREAR NUEVO PRODUCTO!</h3>
                <div>
                    <label for='title'>Product title</label>
                    <input type="text" name='title' id='formTitle'>
                </div>
                <div>
                    <label for='price'>Product price</label>
                    <input type="number" name='price' id='formPrice'>
                </div>
                <div>
                    <label for='thumbnail'>Product thumbnail</label>
                    <input type="text" name='thumbnail' id='formThumbnail'>
                </div>
                <span  id='submitBtn'>ENVIAR!</span>
            </div>
    </section>