header{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgba(35, 197, 209, 0.205);;
    margin-bottom:20px;
    border-bottom:1px solid rgba(35, 197, 209, 0.774);
    text-transform: uppercase;

}